.week {
  padding: 10px 0;
  color: grey;
}

.day-name {
}

.day-icon {
  width: 60px;
  height: 60px;
}

 
.day-temp-max {
  font-weight: 600;
}

.small-btn {
  line-height: 0px;
  padding: 10px 16px;
}
